In [35]:
import pandas as pd
import numpy as np

In [36]:
cluster_solution = pd.read_csv("solution_cluster_info.csv")

In [37]:
cluster_solution

     0   1     2     3     4     5     6     7     8     9    10
0   50  50   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   50   1  41.0  23.0  39.0  50.0   NaN   NaN   NaN   NaN   NaN
2   50  15  20.0  22.0   6.0  43.0  35.0  50.0   NaN   NaN   NaN
3   50  18  40.0   4.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN
4   50  19  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   50  45  49.0  26.0  38.0   0.0  27.0  37.0   8.0  50.0   NaN
6   50  31  14.0   7.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN
7   50  46  17.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8   50  32  13.0   9.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN
9   50   5  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10  50  50   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11  50  16  25.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12  50  10  24.0  42.0   3.0  21.0  50.0   NaN   NaN   NaN   NaN
13  50   2  29.0  44.0  11.0  48.0  12.0  33.0  34.0  36.0  50.0
14  50  30  47.0  28.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN

In [54]:
cluster_solution_list = []
for i in range(len(cluster_solution)):
    temp = []
    for j in range(len(cluster_solution.iloc[i])):
        if(cluster_solution.iloc[i,j] == np.nan):
            continue
        temp.append(cluster_solution.iloc[i,j])
    cluster_solution_list.append(temp)
cluster_solution_list

[[50, 50, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [50, 1, 41.0, 23.0, 39.0, 50.0, nan, nan, nan, nan, nan],
 [50, 15, 20.0, 22.0, 6.0, 43.0, 35.0, 50.0, nan, nan, nan],
 [50, 18, 40.0, 4.0, 50.0, nan, nan, nan, nan, nan, nan],
 [50, 19, 50.0, nan, nan, nan, nan, nan, nan, nan, nan],
 [50, 45, 49.0, 26.0, 38.0, 0.0, 27.0, 37.0, 8.0, 50.0, nan],
 [50, 31, 14.0, 7.0, 50.0, nan, nan, nan, nan, nan, nan],
 [50, 46, 17.0, 50.0, nan, nan, nan, nan, nan, nan, nan],
 [50, 32, 13.0, 9.0, 50.0, nan, nan, nan, nan, nan, nan],
 [50, 5, 50.0, nan, nan, nan, nan, nan, nan, nan, nan],
 [50, 50, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [50, 16, 25.0, 50.0, nan, nan, nan, nan, nan, nan, nan],
 [50, 10, 24.0, 42.0, 3.0, 21.0, 50.0, nan, nan, nan, nan],
 [50, 2, 29.0, 44.0, 11.0, 48.0, 12.0, 33.0, 34.0, 36.0, 50.0],
 [50, 30, 47.0, 28.0, 50.0, nan, nan, nan, nan, nan, nan]]

In [55]:
for i in cluster_solution_list:
    # 여기서 완전히 경로를 정리하면 좋겠다.

[50, 50, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[50, 1, 41.0, 23.0, 39.0, 50.0, nan, nan, nan, nan, nan]
[50, 15, 20.0, 22.0, 6.0, 43.0, 35.0, 50.0, nan, nan, nan]
[50, 18, 40.0, 4.0, 50.0, nan, nan, nan, nan, nan, nan]
[50, 19, 50.0, nan, nan, nan, nan, nan, nan, nan, nan]
[50, 45, 49.0, 26.0, 38.0, 0.0, 27.0, 37.0, 8.0, 50.0, nan]
[50, 31, 14.0, 7.0, 50.0, nan, nan, nan, nan, nan, nan]
[50, 46, 17.0, 50.0, nan, nan, nan, nan, nan, nan, nan]
[50, 32, 13.0, 9.0, 50.0, nan, nan, nan, nan, nan, nan]
[50, 5, 50.0, nan, nan, nan, nan, nan, nan, nan, nan]
[50, 50, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[50, 16, 25.0, 50.0, nan, nan, nan, nan, nan, nan, nan]
[50, 10, 24.0, 42.0, 3.0, 21.0, 50.0, nan, nan, nan, nan]
[50, 2, 29.0, 44.0, 11.0, 48.0, 12.0, 33.0, 34.0, 36.0, 50.0]
[50, 30, 47.0, 28.0, 50.0, nan, nan, nan, nan, nan, nan]