In [45]:
import pandas as pd

### Cluster의 vrp 정보를 가져온다.

In [46]:
solution = pd.read_csv('solution_cluster_info.csv')

In [47]:
solution

    Unnamed: 0   0   1     2     3     4     5     6     7     8     9    10
0            0  50  50   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1            1  50   1  41.0  23.0  39.0  50.0   NaN   NaN   NaN   NaN   NaN
2            2  50  15  20.0  22.0   6.0  43.0  35.0  50.0   NaN   NaN   NaN
3            3  50  18  40.0   4.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN
4            4  50  19  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5            5  50  45  49.0  26.0  38.0   0.0  27.0  37.0   8.0  50.0   NaN
6            6  50  31  14.0   7.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN
7            7  50  46  17.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8            8  50  32  13.0   9.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN
9            9  50   5  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10          10  50  50   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11          11  50  16  25.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12          12  50  10  24.0  42.0   3.0  21.0  50.0   NaN   NaN   NaN   NaN
13          13  50   2  29.0  44.0  11.0  48.0  12.0  33.0  34.0  36.0  50.0
14          14  50  30  47.0  28.0  50.0   NaN   NaN   NaN   NaN   NaN   NaN

### Cluster 정보를 나타낸다.

In [48]:
spot = pd.read_csv('clusterinfo.csv')
spot

      Unnamed: 0        lat         lng  cluster
0           1592  35.218610  126.844707        0
1             73  35.219804  126.845734        0
2           1537  35.219165  126.845790        0
3           1705  35.219764  126.846482        0
4            346  35.219443  126.845734        0
...          ...        ...         ...      ...
2041        1188  35.220024  126.836280       48
2042          27  35.216719  126.838153       48
2043         466  35.218801  126.838391       48
2044        1786  35.231681  126.851529       49
2045         809  35.230803  126.863233       49

[2046 rows x 4 columns]

### Cluster된 정보를 가져오는 함수

In [76]:
def find(cNum):
    cNum = cNum[2:]
    result = pd.DataFrame()
    for i in cNum:
        if(i==50):
            break
        temp = spot[spot['cluster']==i]
        result = pd.concat([result, temp],ignore_index=True,axis=0)
    return result

In [77]:
solutionList = solution.values.tolist()

In [79]:
for i in solutionList:
#     print(i)
#     find(i)
    print(find(i))

Empty DataFrame
Columns: []
Index: []
     Unnamed: 0        lat         lng  cluster
0           462  35.215222  126.850429        1
1           708  35.215360  126.850206        1
2          1559  35.215222  126.850429        1
3           500  35.215222  126.850429        1
4          1572  35.215360  126.849706        1
..          ...        ...         ...      ...
213        1837  35.211750  126.841568       39
214           7  35.211194  126.842207       39
215         414  35.211194  126.842207       39
216         566  35.211194  126.842207       39
217        1702  35.210275  126.841962       39

[218 rows x 4 columns]
     Unnamed: 0        lat         lng  cluster
0          1035  35.180530  126.816932       15
1           367  35.180530  126.816932       15
2          1663  35.180530  126.816932       15
3          1192  35.212889  126.875204       20
4          1193  35.216722  126.874982       20
..          ...        ...         ...      ...
153        1376  35.199945  126.829959       43
154         918  35.199945  126.829959       43
155         267  35.199945  126.829959       43
156         277  35.199945  126.829959       43
157        2028  35.160006  126.864456       35

[158 rows x 4 columns]
     Unnamed: 0        lat         lng  cluster
0          1931  35.221387  126.844207       18
1          2032  35.220332  126.844290       18
2          1287  35.220304  126.845068       18
3          1951  35.220332  126.844290       18
4           740  35.220304  126.844762       18
..          ...        ...         ...      ...
190        1259  35.211391  126.880659        4
191        1820  35.211273  126.878800        4
192        1087  35.210556  126.877037        4
193        1799  35.211806  126.879537        4
194        1736  35.210000  126.881398        4

[195 rows x 4 columns]
    Unnamed: 0        lat         lng  cluster
0         1754  35.208945  126.864705       19
1         1753  35.208806  126.865927       19
2         1637  35.209695  126.864705       19
3         1763  35.209834  126.866233       19
4         1526  35.209834  126.866233       19
5         1490  35.208361  126.865122       19
6         1475  35.207908  126.865127       19
7          114  35.209833  126.864983       19
8          550  35.208806  126.864955       19
9         1751  35.207908  126.865127       19
10         623  35.208806  126.864955       19
11         506  35.209695  126.864705       19
12         561  35.207917  126.865400       19
13        1650  35.209699  126.866208       19
14        1366  35.207917  126.865400       19
15        1674  35.208758  126.863126       19
16        1597  35.207917  126.865400       19
17        1595  35.208972  126.865261       19
18        1680  35.207908  126.865127       19
19        1589  35.208806  126.864955       19
20        1696  35.207908  126.865127       19
21        1563  35.208722  126.863150       19
22        1704  35.207917  126.865400       19
23        1721  35.209560  126.864688       19
24        1722  35.208361  126.865122       19
25        1555  35.208972  126.865094       19
26        2007  35.207279  126.867951       19
27        1638  35.211389  126.863066       19
28         547  35.211361  126.863066       19
29        1749  35.209695  126.864705       19
30        1673  35.208972  126.865261       19
31         720  35.208361  126.865122       19
32         479  35.208361  126.865122       19
33        1160  35.208806  126.864955       19
34        1251  35.208972  126.865261       19
35         989  35.208361  126.865122       19
36         823  35.208722  126.863150       19
37         399  35.208972  126.865261       19
38         330  35.208361  126.865122       19
39         888  35.207917  126.865400       19
     Unnamed: 0        lat         lng  cluster
0          1167  35.193335  126.824126       45
1          1186  35.193335  126.824126       45
2           517  35.191390  126.824820       45
3          1786  35.231681  126.851529       49
4           809  35.230803  126.863233       49
..          ...        ...         ...      ...
214         105  35.206723  126.861233        8
215         586  35.207473  126.861955        8
216        2019  35.206889  126.863455        8
217         584  35.207306  126.861789        8
218        1681  35.207306  126.862428        8

[219 rows x 4 columns]
     Unnamed: 0        lat         lng  cluster
0          1340  35.211294  126.847656       31
1           671  35.211327  126.849755       31
2           448  35.212389  126.850151       31
3           430  35.210583  126.848734       31
4           216  35.211327  126.849755       31
..          ...        ...         ...      ...
123         759  35.215138  126.843207        7
124        1903  35.214249  126.843735        7
125         925  35.213833  126.843485        7
126         960  35.213805  126.843485        7
127         959  35.213805  126.843485        7

[128 rows x 4 columns]
    Unnamed: 0        lat         lng  cluster
0         1431  35.211346  126.845683       46
1         1200  35.209528  126.846318       46
2          565  35.210750  126.846262       46
3          822  35.211346  126.845683       46
4          353  35.209583  126.846262       46
..         ...        ...         ...      ...
84         167  35.219471  126.842818       17
85        2012  35.219915  126.842790       17
86         245  35.219276  126.842790       17
87        1267  35.218777  126.843818       17
88         279  35.219443  126.842818       17

[89 rows x 4 columns]
     Unnamed: 0        lat         lng  cluster
0          1914  35.209880  126.839009       32
1          1513  35.208942  126.839244       32
2           101  35.208972  126.841263       32
3          1452  35.209028  126.840791       32
4          1291  35.208942  126.839244       32
..          ...        ...         ...      ...
154        1155  35.210916  126.833486        9
155         108  35.212282  126.833997        9
156         649  35.212305  126.832180        9
157         997  35.210916  126.832319        9
158        1237  35.211333  126.833902        9

[159 rows x 4 columns]
    Unnamed: 0        lat         lng  cluster
0          489  35.211333  126.838263        5
1          917  35.209916  126.838624        5
2          952  35.209916  126.838652        5
3          516  35.210639  126.838263        5
4          478  35.209916  126.837930        5
..         ...        ...         ...      ...
86        1094  35.210573  126.838181        5
87        1286  35.211583  126.837596        5
88        1128  35.209916  126.838680        5
89        1300  35.211722  126.837374        5
90         575  35.211722  126.837374        5

[91 rows x 4 columns]
Empty DataFrame
Columns: []
Index: []
     Unnamed: 0        lat         lng  cluster
0          1100  35.221193  126.852373       16
1          1123  35.221332  126.851151       16
2           249  35.221304  126.851151       16
3          1619  35.221165  126.852512       16
4          1364  35.221165  126.852512       16
..          ...        ...         ...      ...
137         667  35.213166  126.836874       25
138         666  35.213166  126.836874       25
139         943  35.212860  126.835819       25
140        1986  35.214989  126.836906       25
141         118  35.213194  126.836902       25

[142 rows x 4 columns]
     Unnamed: 0        lat         lng  cluster
0          1859  35.186616  126.836479       10
1          1981  35.192668  126.839263       10
2          1677  35.192279  126.838865       10
3          1519  35.189308  126.835930       10
4          1006  35.192279  126.838865       10
..          ...        ...         ...      ...
160         928  35.207417  126.844068       21
161         768  35.207417  126.844068       21
162         468  35.208565  126.844336       21
163        1889  35.207667  126.845985       21
164         941  35.208972  126.842235       21

[165 rows x 4 columns]
     Unnamed: 0        lat         lng  cluster
0           482  35.216055  126.848290        2
1           233  35.216082  126.848290        2
2           854  35.216749  126.849012        2
3           484  35.218710  126.848510        2
4           483  35.216620  126.848591        2
..          ...        ...         ...      ...
337        1168  35.219943  126.849067       36
338        1682  35.220943  126.849901       36
339         710  35.220943  126.849901       36
340         688  35.220888  126.849901       36
341         281  35.219943  126.849067       36

[342 rows x 4 columns]
    Unnamed: 0        lat         lng  cluster
0           30  35.222323  126.849657       30
1          730  35.222471  126.849512       30
2          383  35.222323  126.849657       30
3         1112  35.222471  126.849512       30
4         1643  35.222415  126.849484       30
..         ...        ...         ...      ...
95        1883  35.188641  126.829487       28
96        1221  35.189668  126.828459       28
97        2010  35.191029  126.828987       28
98        1380  35.191057  126.830903       28
99         140  35.189668  126.828459       28

[100 rows x 4 columns]